.banner {
    margin-bottom: 30px;
    margin-top: 30px;
}

.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../photos/banner_image.jpg");
    height: 500px;
    width: 80%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 16px;
}

.banner-text h1{
    color: white;
    text-align: center;
}