.card {
    color: inherit;
    transition: .2s;
}

.card:hover {
    color: inherit;
    transform: scale(1.1);
}

.title-header {
    font-size: 105%;
    font-weight: 800;
}

.five i {
    margin-top: 10px;
    margin-bottom: 10px;
}