.text h1 {
    text-align: center;
    font-size: 90%;
    color: black;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text h3 {
    text-align: center;
    font-size: 90%;
    color: black;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eight.wide.column {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-header {
    display: inline-flex;
    width: 90%;
}

.shopping_cart {
    font-size: 150%;
    display: inline-flex;
    width: 10%;
}

