.ui.tiny.image{
    min-height: 100px;
    min-width: 100px;
}  

.content {
    position: relative;
    height: 100%;
}

.item .content .centered {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content h3 {
   margin: 0;
}

.content h4 {
    margin: 0;
}

.container {
    display: flex;
    min-height: 94px;
}

.test {
    float: right;
    margin: 0 0 0 1em;
    line-height: 1.14285714em;
    width: 25%;
    position: relative;
    height: 100%;
}

.container .delete_button {
   width: 25%;
}

.container .plus_button {
    width: 25%;
}

.container .product_count {
    width: 30%;
 }

 .container .product_count h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
 }

.container .min_button h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.w3-button {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 4px 8px;
}

i.icon.trash.alternate.outline::before {
    
    color: black;
    font-size: 150%;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

i.icon.shopping.cart::before {
    color: black;
    cursor: pointer;
}